body {
  /* background-repeat: no-repeat; */
  background-size: cover;

  background-image:
  linear-gradient(
      100deg,
      rgba(91, 142, 139, 0.8),
      rgba(169, 114, 169, 0.8)
  ),
  
  url(https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600);
  
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(9, 215, 237);
  font-size: 70px;

  width: 400px;
  border: 10px solid rgb(204, 134, 215);
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  text-shadow: 2px 2px black;
}
h2 {
  text-align: center;
  padding-top: 50px;
  color: rgb(9, 215, 237);
  font-size: 60px;
  padding-left: 50px;
  padding-right: 50px;
  text-shadow: 2px 2px black;
}

h3 {
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
}

h4 {
  text-align: left;
  font-size: 30px;
  margin-left: 70px;
  color: whitesmoke;
  padding-top: 40px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  padding: 20px;
  
}

p {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  
}

.btn {
  background-color: rgb(162, 76, 93); 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 20px;
  cursor: pointer; 
  border-radius: 10px;
 
}

.btn:hover {
  background-color: rgb(9, 215, 237);
  transition: 1s;
}

a:hover {
  color: rgb(245, 9, 226);
}

#home {
  text-decoration: solid;
}

#html {
  text-decoration: solid;
}

.list {
  font-size: 25px;
}

#code {
  width: 30%;
}

#tech {
  text-decoration: solid;
}

#learning {
  text-decoration: solid;
}

#emo {
  text-decoration: solid;
}

#fundamentals {
  text-decoration: solid;
}

#probs {
  text-decoration: solid;
}

.flow-img {

  max-width: 30%;
  margin-top: 20px;
}

.loop-img {

  max-width: 30%;
  margin-top: 20px;
}

.iterate {
  max-width: 100%;
  margin-top: 20px;
}

.js {
  max-width: 20%;
  margin-top: 30px;

}

.note {
  max-width: 25%;
  margin-top: 20px;
}

.array {
  max-width: 40%;
  margin-top: 20px;
}

.baldy {
  max-width: 30%;
  margin-top: 20px;
}

.return {
  max-width: 25%;
  margin-top: 20px;
}

.arg {
  max-width: 80%;
  margin-top: 20px;
}

.list {
  margin-left: 20px;
  margin-right: 40px;
}

.emoji {
  font-size: 5rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.closed {
  display: none;
}

.open {
  display: none;
}

.active {
  display: block;
}

.brain {
  font-size: 5rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.shut {
  display: none;
}

.light {
  display: none;
}

.on {
  display: block
}

.mirror {
  font-size: 8rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
}




